/* For any interactive elements used */
/* Card Carosel */
.card-wrapper{
    display: flex;
    margin: 0 3rem 1.75rem;
    padding: 1.5rem 0.75rem;
    overflow: hidden;
    max-width: var(--screenMaxWidth);
    
}
.card-list .card-item{
    list-style: none;
}
.card-list .card-item .card-link{
    user-select: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: var(--lightShade); 
    padding: 1rem;
    border-radius: 0.8rem;
    text-decoration: none;
    border: 0.15rem solid transparent;
    box-shadow: 0 0.5rem 0.5rem rgba(50, 0, 50, 0.15);
    transition: 0.4s ease;

}
.card-list .card-item .card-link:hover, .card-list .card-item .card-link:focus {
    border-color: var(--lightAccent-Background);
    box-shadow: 0 0.5rem 0.5rem var(--lightAccent-Background);
}
.card-list .card-link .card-image{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card-list .card-link .card-type{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    padding:0.4rem 0.6rem;
    font-size: 0.95rem;
    width: fit-content;
    height: fit-content;
    border-radius: 2.5rem;
    margin:0.5rem;
    font-weight:600; 
}

.type-academic{
    color: var(--darkAccent);
    background-color: var(--mainBrandColor-Background);
}


.type-freelance{
    color: var(--lightAccent-Darker);
    background-color: var(--lightAccent-Background);
}

.type-personal{
    color: var(--darkShade);
    background-color: var(--darkAccent-Background);    
}

.card-list .card-link .card-title{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.3rem;
    margin-left: 0;
    color: var(--darkAccent);
    padding: 0;
}

.card-list .card-link .card-role{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    font-weight: 700;
    margin: 0.3rem;
    margin-left: 0;
    color: var(--darkAccent);
}

.card-list .card-link .card-description{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    font-weight: 100;
    margin: 0.3rem;
    margin-left: 0;
    padding-left: 0;
    color: var(--darkAccent);
    
}

@media screen and (max-width: 40rem) {
    .card-list .card-link .card-type{
        font-size: 0.7rem;
        padding:0.3rem 0.5rem;
    }
    .card-list .card-link .card-title{
        font-size: 1.1rem;

    }    
}

/* Items for sub nav scroll spy */
.nav-scroll-indicator{
    position: fixed;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2rem; 

}

.nav-scroll-indicator a{
    padding: 0.7rem;

}

.nav-scroll-indicator a::after{
    content:'';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--mainBrandColor);
    transform: translate(-50%, -50%);
}

.nav-scroll-indicator a.active::after{
    background-color: var(--lightAccent);
    transform: scale(1.3) translate(-50%, -50%);
} 

.nav-scroll-indicator a::before{
    content: attr(data-section);
    position: absolute;
    right: 1.4rem;
    transform: translateY(50%);
    background-color: var(--lightAccent);
    color: var(--lightShade);
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    pointer-events: none;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 0.5rem var(--lightAccent-Background);
    opacity: 0; 
    transition: all 400ms ease;
    font-family: "Poppins", sans-serif;
    
}

.nav-scroll-indicator a:hover::before, .nav-scroll-indicator a:focus::before{
    opacity: 1;
    transform: translate(0, -50%);


}

.nav-scroll-arrow{
    display: none;
}

@media (max-width:80rem){
    .nav-scroll-indicator{
        right: 1rem;
        background-color: var(--lightShade);
        box-shadow: 0 0.1rem 1rem 0.5rem var(--mainBrandColor-Transparent);
        padding: 1.2rem 0.2rem;
        border-radius: 1rem;
        transform: translate(3rem, -50%);
        transition: all 400ms ease;
        z-index: 10;
    }
    .nav-scroll-indicator.active {
        transform: translate(-30%, -50%);

    }

    .nav-scroll-indicator .nav-scroll-arrow{
        position:absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.8rem;
        padding: 0.5rem 0.2rem;
        background-color: var(--mainBrandColor);
        color: var(--lightShade);
        border-radius: 0.5rem 0 0 0.5rem;
        display:flex;
        cursor: pointer;
    }
    .nav-scroll-indicator .nav-scroll-arrow.active{
        transform: translateY(-50%) scaleX(-100%); 
        border-radius: 0 0.5rem 0.5rem 0;

    }
}


/* Image Comp */
.img-comp-fig-control{
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}
.img-comp-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: 15rem;
}
  
.img-comp-img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-comp-img img {
    /* display: inline-block; */
    align-self: center;
    width: initial;
    height: 100%;
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 2rem;
    height: 2rem;
    background-color: var(--lightAccent);
    opacity: 0.7;
    border-radius: 50%;
}

@media (min-width:60rem){
    .img-comp-container{
        min-height: 20rem; 
    }
}